<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Squirrel</title>
    {% load static %}

    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>


    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>



    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">


</head>
<body>
<header id="header" class="page-topbar">
 <div class="navbar-fixed">
    <nav class="navbar">
      <div class="nav-wrapper">
          <a class="navbar-brand" href="#">Expense_Tracker_CaseStudy </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
              <li>
                    <a href="{%url 'Transactions:setting1'%}">
                        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp; Settings
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp; Expense Overview
                    </a>
                </li>
                <li class="">
                    <a href="{%url 'Transactions:transaction_add'%}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Expense
                    </a>
                </li>
                <li><a href="#">{{ user.get_username }}</a></li>
                <li><a href="{% url 'Authentication:Logout' %}">Logout</a></li>
              {% else %}
                     <li><a href="{%url 'Authentication:Register' %}">Register</a></li>
                     <li><a href="{% url 'Authentication:Login' %}">Login</a></li>
                {% endif %}
          </ul>
      </div>
    </nav>
  </div>
</header>

    {% block body %}
    {% endblock %}

</body>
</html>