{% extends 'Authentication/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="content-section col-md-8 col-md-offset-2">
    <center>
        <form method="POST" style="border:1px solid black;margin: 4%;padding:10%;border-radius:1%">
            {% csrf_token %}
            <fieldset class="form-group">
                {{form|crispy}}
            </fieldset>
            <center>
    <button style="background: black; font-size: 2rem; padding:1%;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-log-in"></span> &nbsp; login</button>
  </center>
            <br/>
            <sub style="text-align:left;"><a href="{% url 'Authentication:Register' %}" style="text-decoration:none; color:blue; padding:2% ;cursor:pointer;
margin-right:2%;">Don't have the account Signup</a></sub>
        </form>
    </center>

</div>



{% endblock %}