{% extends 'Authentication/base.html' %}
{%block body %}
<div class="container">
<form method="POST">
    {% csrf_token %}
    {{form1.as_p}}
    <input type="submit" class="btn btn-primary btn-lg" value="submit-button">

</form></div>

{% endblock %}