{% extends 'Authentication/base.html' %}
{% block body %}
<div class="container">
    <h3>The list of available Expense_Categories</h3>
    <ul>
  {% for var in objects %}
        <li>{{var.id}}-->{{ var.source_name }}    <button class="button" type="delete" ><a href="{%url 'Transactions:source_delete' pk=var.id %}">Delete</a> </button></li>
        {% endfor %}
    </ul>

    <form method="POST">
        <h4> Add the Expense category</h4>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-primary btn-lg" value="submit">

    </form>

</div>

{% endblock %}