{% extends 'Authentication/base.html '%}

{% block body %}
 <ol>
     <li><a href="{%url 'Transactions:add_source' %}">Add Expense_category </a></li>
     <li><a href="#">Add Friends </a></li>
     <li>View_Transaction_Groups</li>
     
 </ol>

{% endblock %}